@import "./partials/variables";
@import "./partials/hotelcards";
@import "./partials/contactpage-and-forms";
@import "./partials/admin-content";
@import "./partials/confirm-alert";

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Sail&family=Ubuntu:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Cantarell:wght@400;700&display=swap');

@font-face {
    font-family: copperplate;
    src: url("../fonts/Copperplate.ttc");
    font-style: normal;
}

//UNIVERSAL ELEMENTS:

html {
    min-height: 100;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: white;
    margin: 0;
    min-height: 100%;
    max-width: 100%;
    font-size: 1em;
}

body:after {
    content: "";
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(../media/leonard-rb-S-gj2BlwWjU-unsplash.jpg) center center;
    background-size: cover;
}

.spinner--container {
    text-align: center;
}

//nav and links

.nav__primary {

    background-color: $primary-colour;
    display: flex;
    justify-content: space-evenly;

    .nav-link {
        font-family: Cantarell;
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
        color: white;
        padding: 2% 5% 2% 5%;
        justify-content: center;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .logo-link {
        width: 200px;
    }

    #logo-link__mobile {
        display: none;
    }

    .logo {
        align-self: center;
        padding: 7% 5% 5% 5%;
        width: 90%;
    }

    #logo__mobile {
        display: none;
    }

    .nav-form--container {

        width: 100px;
        padding-top: 2%;
        text-align: center;

        p {
            margin: 0%;
            font-family: Ubuntu;
        }

        input {
            border: none;
            border-radius: 20px;
            padding: 0.5% 2% 0.5% 5%;
            width: 100px;
            font-size: 0.8em;
        }

        button {
            width: 80px;
            padding: 1%;
            font-size: 0.8em;
            background-color: $primary-colour;
            border: 1px solid white;
            border-radius: 20px;
        }

        button:hover {
            background-color: white;
            color: $primary-colour;
        }
    }

}

.active {
    text-decoration: underline;
}

h2 {
    font-family: Sail;
    margin-top: 0%;
    padding: 1%;
    padding-left: 10%;
    background-color: $secondary-transparent;
}

h4,h5 {
    font-family: Ubuntu;
    color: $secondary-colour;
}

a {
    text-decoration: none;
}

//buttons:

button {
    width: 50%;
    margin: 6% 0% 6% 0%;
    font-size: 0.8em;
    color: white;
    font-family: Cantarell;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $button-colour;
    border-style: none;
    border: 2px solid white;
    border-radius: 16px;
    padding: 7%;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: $button-colour;
    border: 2px solid $button-colour;
}

//error: 

.error--container {
    display: block;
    background-color: white;
    padding: 0.5em;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    border: 1px solid red; 
    border-radius: 8px;

        &--message {
            color: red;
            width: 90%;
            margin: auto;
        }
}

@import "./partials/media-queries";